:root {
  --primary-color: #B3DADF;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  background-image: url("../assets/background.jpg?v=0.2");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'PT Mono', monospace;
  margin: 0;
  padding: 0;
  color: white;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 611px;
  height: 611px;
  max-width: 90vw;
  max-height: 90vw;
  background-size: contain;
  background-image: url("../assets/logo.svg?v=0.2");
  margin-top: max(calc(-20vw), -140px);
}

.text {
  text-align: center;
  margin: 30px 24px 0 24px;
}

.text .subtitle {
  font-size: clamp(18px, 2.8vw, 36px);
}

.name {
  --element-width: min(756px, calc(90vw - 48px));
  width: var(--element-width);
  height: calc(var(--element-width) / 756 * 101);
}

.text .subtitle .emphasis {
  color: var(--primary-color);
}

.text .title .title-tech {
  color: var(--primary-color);
}

.text .title .title-tech {
  color: var(--primary-color);
}

.description {
  line-height: 1.3em;
  font-size: clamp(13.5px, 2.1vw, 27px);
  max-width: 90vh;
  padding: 0 24px 40px 24px;
  margin: 32px auto 0 auto;
}

.description p {
  margin: 8px 0;
  padding: 0;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

a:hover, a:active {
  color: var(--primary-color);
}
