@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/********************/

/*     Buttons      */

/*==================*/

/* Note: If you want to add your own colors, you can do so by going to this tailwind.config.js file  */

.btn{
  display: inline-block;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-lg{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.btn.btn-sm{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/*  Button icons */

.btn.btn-icon{
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  padding: 0px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn.btn-icon.btn-lg{
  height: 3rem;
  width: 3rem;
}

.btn.btn-icon.btn-sm{
  height: 2rem;
  width: 2rem;
}

/* Button Link */

.btn.btn-link{
  position: relative;
  border-style: none;
  padding: 0px;
}

.btn.btn-link::after{
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  --tw-content: '';
  content: var(--tw-content);
}

.btn.btn-link:where([dir="ltr"], [dir="ltr"] *)::after{
  right: 0px;
  content: var(--tw-content);
  left: 0px;
}

.btn.btn-link:where([dir="rtl"], [dir="rtl"] *)::after{
  left: 0px;
  content: var(--tw-content);
  right: 0px;
}

.btn.btn-link:hover::after{
  content: var(--tw-content);
  width: 100%;
}

.btn.btn-link:hover:where([dir="ltr"], [dir="ltr"] *)::after{
  content: var(--tw-content);
  right: auto;
}

.btn.btn-link:hover:where([dir="rtl"], [dir="rtl"] *)::after{
  content: var(--tw-content);
  left: auto;
}

/*********************************/

/*         Menu                  */

/*===============================*/

#topnav{
  position: fixed;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
  top: 0px;
  z-index: 999;
  border-width: 0px;
  background-color: transparent;
  transition-duration: 500ms;
}

#topnav .logo{
  --tw-text-opacity: 1 !important;
  color: rgb(22 28 45 / var(--tw-text-opacity)) !important;
}

#topnav .logo:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

#topnav .logo:where([dir="ltr"], [dir="ltr"] *){
  float: left !important;
}

#topnav .logo:where([dir="rtl"], [dir="rtl"] *){
  float: right !important;
}

#topnav .logo .l-dark{
  display: none;
}

#topnav .logo .l-light{
  display: inline-block;
}

#topnav .logo:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#topnav .has-submenu{
  position: relative;
}

#topnav .has-submenu.active a{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#topnav .has-submenu.active a:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

#topnav .has-submenu.active .submenu li.active > a{
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav .has-submenu.active .submenu li.active > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav .has-submenu.active.active .menu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu.active.active .menu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .submenu-arrow {
  border-width: 0px 0.125rem 0.125rem 0px;
  position: absolute;
  inset-inline-end: 1.25rem;
  top: 15px;
  display: inline-block;
  border-radius: 0.5px;
  --tw-border-opacity: 1;
  border-color: rgb(22 28 45 / var(--tw-border-opacity));
  padding: 2px;
}

#topnav .has-submenu .submenu .submenu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .submenu-arrow:where([dir="ltr"], [dir="ltr"] *){
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#topnav .has-submenu .submenu .submenu-arrow:where([dir="rtl"], [dir="rtl"] *){
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#topnav .has-submenu .submenu .has-submenu:hover {
  /* .submenu-arrow {
      @apply border-indigo-600 dark:border-indigo-600;
    } */
}

#topnav .has-submenu .submenu .has-submenu:hover > .submenu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .has-submenu:hover > .submenu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .has-submenu .submenu .has-submenu:hover .submenu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .has-submenu .submenu .has-submenu:hover .submenu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .has-submenu .submenu .has-submenu:hover > .submenu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .has-submenu .submenu .has-submenu .submenu .has-submenu:hover > .submenu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav .navigation-menu > li .submenu li{
  position: relative;
  margin-inline-start: 0px;
}

#topnav .navbar-toggle{
  position: relative;
  margin: 0px;
  cursor: pointer;
  border-width: 0px;
  padding: 0px;
}

#topnav .navbar-toggle .lines{
  position: relative;
  margin-top: 30px;
  margin-inline-end: 0px;
  margin-bottom: 26px;
  margin-inline-start: 10px;
  display: block;
  height: 18px;
  width: 25px;
}

#topnav .navbar-toggle span {
  transition: transform 0.5s ease;
  margin-bottom: 5px;
  display: block;
  height: 2px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(22 28 45 / var(--tw-bg-opacity));
}

#topnav .navbar-toggle span:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#topnav .navbar-toggle span:last-child{
  margin-bottom: 0px;
}

#topnav .navbar-toggle.open span{
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child{
  top: 6px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#topnav .navbar-toggle.open span:nth-child(2){
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child{
  top: 6px;
  width: 100%;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#topnav .navbar-toggle.open span:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus,
  #topnav .navbar-toggle .navigation-menu > li > a:hover{
  background-color: transparent;
}

#topnav .buy-button{
  line-height: 74px;
}

#topnav .buy-button:where([dir="ltr"], [dir="ltr"] *){
  float: right;
}

#topnav .buy-button:where([dir="rtl"], [dir="rtl"] *){
  float: left;
}

#topnav .buy-button > li{
  line-height: initial;
}

#topnav .buy-button .login-btn-primary,
  #topnav .buy-button .btn-icon-dark{
  display: none;
}

#topnav .buy-button .login-btn-light,
  #topnav .buy-button .btn-icon-light{
  display: inline-block;
}

#topnav .buy-button .search-bar .menu-search form{
  position: relative;
}

#topnav .buy-button .search-bar .searchform::after{
  pointer-events: none;
  position: absolute;
  inset-inline-end: 14px;
  top: 14px;
  font-size: 1.25rem;
  content: var(--tw-content);
  line-height: 1.25rem;
}

#topnav .buy-button .search-bar .searchform input[type=text]{
  display: block !important;
  height: 2.75rem !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-inline-end: 42px !important;
  padding-inline-start: 0.75rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

#topnav .buy-button .search-bar .searchform input[type=submit]{
  display: none;
}

#topnav .buy-button .search-bar .searchform:after {
  content: "\f0349";
  font-family: "Material Design Icons";
}

#topnav .buy-button .dropdown .dropdown-toggle::after,
  #topnav .buy-menu-btn .dropdown .dropdown-toggle::after{
  content: var(--tw-content);
  display: none;
}

#topnav .navigation-menu{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

#topnav .navigation-menu > li{
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

#topnav .navigation-menu > li:where([dir="ltr"], [dir="ltr"] *){
  float: left;
}

#topnav .navigation-menu > li:where([dir="rtl"], [dir="rtl"] *){
  float: right;
}

#topnav .navigation-menu > li > a{
  display: block !important;
  background-color: transparent !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  line-height: 1.5rem !important;
  letter-spacing: 1px !important;
  --tw-text-opacity: 1 !important;
  color: rgb(22 28 45 / var(--tw-text-opacity)) !important;
}

#topnav .navigation-menu > li > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

#topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:active{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#topnav .navigation-menu > li:hover > a, #topnav .navigation-menu > li.active > a{
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav .navigation-menu > li:hover > a:is(.dark *), #topnav .navigation-menu > li.active > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav .navigation-menu > li .submenu.megamenu li .megamenu-head{
  white-space: nowrap !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.04em !important;
  --tw-text-opacity: 1 !important;
  color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
}

#topnav .navigation-menu .has-submenu .menu-arrow {
  border-width: 0 2px 2px 0;
  position: absolute;
  inset-inline-end: 0px;
  top: 2rem;
  display: inline-block;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.5px;
  --tw-border-opacity: 1;
  border-color: rgb(22 28 45 / var(--tw-border-opacity));
  padding: 2px;
  transition-duration: 500ms;
}

#topnav .navigation-menu .has-submenu .menu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

#topnav .navigation-menu .has-submenu:hover .menu-arrow{
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#topnav .menu-extras:where([dir="ltr"], [dir="ltr"] *){
  float: right;
}

#topnav .menu-extras:where([dir="rtl"], [dir="rtl"] *){
  float: left;
}

#topnav.scroll{
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#topnav.scroll:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

#topnav.scroll .navigation-menu > li > a{
  --tw-text-opacity: 1;
  color: rgb(22 28 45 / var(--tw-text-opacity));
}

#topnav.scroll .navigation-menu > li > a:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#topnav.scroll .navigation-menu > li > .menu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(22 28 45 / var(--tw-border-opacity));
}

#topnav.scroll .navigation-menu > li > .menu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

#topnav.scroll .navigation-menu > li:hover > a, #topnav.scroll .navigation-menu > li.active > a{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#topnav.scroll .navigation-menu > li:hover > .menu-arrow, #topnav.scroll .navigation-menu > li.active > .menu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav.scroll .navigation-menu > li:hover > .menu-arrow:is(.dark *), #topnav.scroll .navigation-menu > li.active > .menu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

#topnav.defaultscroll.dark-menubar .logo{
  line-height: 70px;
}

#topnav.defaultscroll.scroll .logo{
  line-height: 62px;
}

#topnav.nav-sticky{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#topnav.nav-sticky:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-shadow-color: #1f2937;
  --tw-shadow: var(--tw-shadow-colored);
}

#topnav.nav-sticky .navigation-menu.nav-light > li > a{
  --tw-text-opacity: 1 !important;
  color: rgb(22 28 45 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li.active > a{
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li.active > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li:hover > .menu-arrow, #topnav.nav-sticky .navigation-menu.nav-light > li.active > .menu-arrow{
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li:hover > a, #topnav.nav-sticky .navigation-menu.nav-light > li.active > a{
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light > li:hover > a:is(.dark *), #topnav.nav-sticky .navigation-menu.nav-light > li.active > a:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

#topnav.nav-sticky .navigation-menu.nav-light .has-submenu .menu-arrow{
  --tw-border-opacity: 1;
  border-color: rgb(22 28 45 / var(--tw-border-opacity));
}

#topnav.nav-sticky .navigation-menu.nav-light .has-submenu .menu-arrow:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

#topnav.nav-sticky.tagline-height{
  top: 0px !important;
}

#topnav.nav-sticky .buy-button .login-btn-primary,
  #topnav.nav-sticky .buy-button .btn-icon-dark{
  display: inline-block;
}

#topnav.nav-sticky .buy-button .login-btn-light,
  #topnav.nav-sticky .buy-button .btn-icon-light{
  display: none;
}

#topnav.nav-sticky .logo .l-dark{
  display: inline-block;
}

#topnav.nav-sticky .logo .l-light{
  display: none;
}

.logo{
  margin-inline-end: 15px;
  padding-inline-end: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 1px;
}

@media (min-width: 1025px) {
  #topnav .navigation-menu > li .submenu.megamenu{
    width: 1120px !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  #topnav .navigation-menu > li .submenu.megamenu{
    width: 936px !important;
  }
}

@media (min-width: 992px) {
  #topnav .navigation-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #topnav .navigation-menu.justify-end li:last-child{
    margin-inline-end: 0px;
  }

  #topnav .navigation-menu.justify-end li:last-child .sub-menu-item{
    padding-inline-end: 0px !important;
  }

  #topnav .navigation-menu.justify-start > li:first-child{
    margin-inline-start: 0px;
  }

  #topnav .navigation-menu.justify-start > li:first-child .sub-menu-item{
    padding-inline-start: 0px !important;
  }

  #topnav .navigation-menu > .has-submenu:hover .menu-arrow{
    top: 34px !important;
  }

  #topnav .navigation-menu > .has-submenu.active .menu-arrow{
    top: 2rem;
  }

  #topnav .navigation-menu > li .submenu {
    transition: all 0.2s ease;
    visibility: hidden;
    position: absolute;
    top: 100%;
    inset-inline-start: 0px;
    z-index: 1000;
    margin-top: 10px;
    min-width: 180px;
    list-style-type: none;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0;
    --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  #topnav .navigation-menu > li .submenu:is(.dark *){
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    --tw-shadow-color: #1f2937;
    --tw-shadow: var(--tw-shadow-colored);
  }

  #topnav .navigation-menu > li .submenu li{
    position: relative;
  }

  #topnav .navigation-menu > li .submenu li a {
    transition: all 0.3s;
    clear: both;
    display: block;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 0.04em;
    --tw-text-opacity: 1;
    color: rgb(22 28 45 / var(--tw-text-opacity));
  }

  #topnav .navigation-menu > li .submenu li a:is(.dark *){
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  #topnav .navigation-menu > li .submenu li a:hover{
    --tw-text-opacity: 1 !important;
    color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li .submenu li a:hover:is(.dark *){
    --tw-text-opacity: 1 !important;
    color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li .submenu li ul{
    margin: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
  }

  #topnav .navigation-menu > li .submenu.megamenu{
    position: fixed;
    inset-inline-start: 50%;
    top: auto;
    display: flex;
    white-space: nowrap;
  }

  #topnav .navigation-menu > li .submenu.megamenu:where([dir="ltr"], [dir="ltr"] *){
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  #topnav .navigation-menu > li .submenu.megamenu:where([dir="rtl"], [dir="rtl"] *){
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  #topnav .navigation-menu > li .submenu.megamenu > li{
    width: 20%;
    overflow: hidden;
    vertical-align: top;
  }

  #topnav .navigation-menu > li .submenu.megamenu > li .submenu{
    inset-inline-start: 100%;
    top: 0px;
    margin-inline-start: 10px;
    margin-top: -1px;
  }

  #topnav .navigation-menu > li .submenu > li .submenu{
    inset-inline-start: 101%;
    top: 0px;
    margin-inline-start: 10px;
    margin-top: -1px;
  }

  #topnav .navigation-menu > li > a{
    min-height: 62px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #topnav .navigation-menu > li:hover > .menu-arrow{
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
  }

  #topnav .navigation-menu > li:hover > .menu-arrow:is(.dark *){
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
  }

  #topnav .navigation-menu > li:hover > a, #topnav .navigation-menu > li.active > a{
    --tw-text-opacity: 1 !important;
    color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li:hover > a:is(.dark *), #topnav .navigation-menu > li.active > a:is(.dark *){
    --tw-text-opacity: 1 !important;
    color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li.last-elements .submenu{
    inset-inline-start: auto;
    inset-inline-end: 0px;
  }

  #topnav .navigation-menu > li.last-elements .submenu::before{
    inset-inline-start: auto;
    content: var(--tw-content);
    inset-inline-end: 10px;
  }

  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu{
    inset-inline-start: auto;
    inset-inline-end: 100%;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
  }

  #topnav .navigation-menu.nav-light > li > a{
    color: rgb(255 255 255 / 0.5) !important;
  }

  #topnav .navigation-menu.nav-light > li.active > a{
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu.nav-light > li:hover > .menu-arrow{
    --tw-border-opacity: 1 !important;
    border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
  }

  #topnav .navigation-menu.nav-light > li:hover > a{
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu.nav-light .has-submenu .menu-arrow{
    border-color: rgb(255 255 255 / 0.5);
  }

  #topnav .navigation-menu.nav-light .has-submenu.active .menu-arrow{
    --tw-border-opacity: 1 !important;
    border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
  }

  #topnav .buy-button{
    margin-inline-start: 15px;
    padding-inline-start: 15px;
  }

  #topnav .navbar-toggle{
    display: none;
  }

  #topnav #navigation{
    display: block !important;
  }

  #topnav.scroll{
    top: 0px;
  }

  #topnav.scroll .navigation-menu > li > a{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  #topnav.scroll-active .navigation-menu > li > a{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 991px) {
  #topnav{
    min-height: 74px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  #topnav:is(.dark *){
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    --tw-shadow-color: #1f2937;
    --tw-shadow: var(--tw-shadow-colored);
  }

  #topnav .logo .l-dark{
    display: inline-block !important;
  }

  #topnav .logo .l-light{
    display: none !important;
  }

  #topnav .container{
    width: auto;
  }

  #topnav #navigation{
    max-height: 400px;
    --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  #topnav .navigation-menu{
    float: none !important;
  }

  #topnav .navigation-menu > li{
    float: none !important;
  }

  #topnav .navigation-menu > li .submenu{
    margin: 0px;
    display: none;
    list-style-type: none;
    padding-inline-start: 1.25rem;
  }

  #topnav .navigation-menu > li .submenu li a {
    transition: all 0.3s;
    position: relative !important;
    display: block !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 11px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.04em !important;
    --tw-text-opacity: 1 !important;
    color: rgb(22 28 45 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li .submenu li a:is(.dark *){
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  #topnav .navigation-menu > li .submenu.megamenu li .megamenu-head{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #topnav .navigation-menu > li .submenu.megamenu > li > ul{
    list-style-type: none;
    padding-inline-start: 0px;
  }

  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span{
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
  }

  #topnav .navigation-menu > li .submenu.open{
    display: block;
  }

  #topnav .navigation-menu > li .submenu .submenu{
    display: none;
    list-style-type: none;
  }

  #topnav .navigation-menu > li .submenu .submenu.open{
    display: block;
  }

  #topnav .navigation-menu > li > a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    --tw-text-opacity: 1;
    color: rgb(22 28 45 / var(--tw-text-opacity));
  }

  #topnav .navigation-menu > li > a::after{
    position: absolute;
    content: var(--tw-content);
    inset-inline-end: 15px;
  }

  #topnav .navigation-menu > li > a:is(.dark *){
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover, #topnav .navigation-menu > li.has-submenu.open > a{
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }

  #topnav .menu-extras .menu-item{
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }

  #topnav .menu-extras .menu-item:is(.dark *){
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  #topnav .navbar-header:where([dir="ltr"], [dir="ltr"] *){
    float: left;
  }

  #topnav .navbar-header:where([dir="rtl"], [dir="rtl"] *){
    float: right;
  }

  #topnav .buy-button .login-btn-primary,
    #topnav .buy-button .btn-icon-dark{
    display: inline-block !important;
  }

  #topnav .buy-button .login-btn-light,
    #topnav .buy-button .btn-icon-light{
    display: none;
  }

  #topnav .has-submenu .submenu .submenu-arrow{
    position: absolute;
    inset-inline-end: 1.25rem;
    top: 0.75rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  #topnav .has-submenu.active a{
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }

  #navigation{
    position: absolute;
    top: 74px;
    inset-inline-start: 0px;
    display: none;
    height: auto;
    width: 100%;
    overflow: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  #navigation:is(.dark *){
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }

  #navigation.open{
    display: block;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  #topnav .navigation-menu .has-submenu .menu-arrow{
    inset-inline-end: 0.5rem;
    top: 1rem;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu{
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
  }

  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu{
    visibility: visible;
    margin-inline-start: 0px;
    opacity: 1;
  }

  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu > li:hover > .submenu{
    visibility: visible;
    margin-inline-start: 0px;
    opacity: 1;
  }

  .navbar-toggle{
    display: block;
  }
}

@media (max-width: 425px) {
  #topnav .buy-menu-btn{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: block !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  #topnav .buy-menu-btn .dropdown .dropdown-menu.show {
    transform: translate3d(0px, -54px, 0px) !important;
  }
}

.tagline{
  position: absolute;
  z-index: 99;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 575px) {
  .tagline{
    display: none;
  }

  .tagline-height{
    top: 0px !important;
  }
}

@media (min-width: 576px) {
  .tagline-height{
    top: 59px !important;
  }
}

.sidebar-nav > .navbar-item:hover .navbar-link, .sidebar-nav > .navbar-item.active .navbar-link{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.sidebar-nav li.active a{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.sidebar-nav li.account-menu.active .navbar-link, .sidebar-nav li.account-menu:hover .navbar-link{
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

.sidebar-nav li.account-menu.active .navbar-link:is(.dark *), .sidebar-nav li.account-menu:hover .navbar-link:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

/*! tailwindcss v3.4.10 | MIT License | https://tailwindcss.com*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

@media (min-width: 540px){
  .container{
    max-width: 540px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
    padding-right: 13rem;
    padding-left: 13rem;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.-bottom-\[2px\]{
  bottom: -2px;
}

.-top-7{
  top: -1.75rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-5{
  bottom: 1.25rem;
}

.end-0{
  inset-inline-end: 0px;
}

.end-6{
  inset-inline-end: 1.5rem;
}

.start-0{
  inset-inline-start: 0px;
}

.z-1{
  z-index: 1;
}

.z-10{
  z-index: 10;
}

.col-span-12{
  grid-column: span 12 / span 12;
}

.col-span-6{
  grid-column: span 6 / span 6;
}

.mx-0\.5{
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.me-2{
  margin-inline-end: 0.5rem;
}

.me-4{
  margin-inline-end: 1rem;
}

.ms-1{
  margin-inline-start: 0.25rem;
}

.ms-3{
  margin-inline-start: 0.75rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-16{
  margin-top: 4rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.size-10{
  width: 2.5rem;
  height: 2.5rem;
}

.size-12{
  width: 3rem;
  height: 3rem;
}

.h-5{
  height: 1.25rem;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.max-w-full{
  max-width: 100%;
}

.max-w-xl{
  max-width: 36rem;
}

.grow-\[2\]{
  flex-grow: 2;
}

.grow-\[3\]{
  flex-grow: 3;
}

.basis-0{
  flex-basis: 0px;
}

.origin-top{
  transform-origin: top;
}

.scale-\[2\.0\]{
  --tw-scale-x: 2.0;
  --tw-scale-y: 2.0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-disc{
  list-style-type: disc;
}

.list-none{
  list-style-type: none;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-\[30px\]{
  gap: 30px;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border-t{
  border-top-width: 1px;
}

.border-cute-green-darker-plus{
  --tw-border-opacity: 1;
  border-color: rgb(40 90 97 / var(--tw-border-opacity));
}

.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-slate-800{
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(22 28 45 / var(--tw-bg-opacity));
}

.bg-cute-green-darker-plus{
  --tw-bg-opacity: 1;
  background-color: rgb(40 90 97 / var(--tw-bg-opacity));
}

.bg-dark-footer{
  --tw-bg-opacity: 1;
  background-color: rgb(25 33 50 / var(--tw-bg-opacity));
}

.bg-gray-50{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-green-600{
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.bg-slate-900\/30{
  background-color: rgb(15 23 42 / 0.3);
}

.bg-slate-900\/50{
  background-color: rgb(15 23 42 / 0.5);
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[url\(\'\.\.\/\.\.\/assets\/images\/background\.jpg\'\)\]{
  background-image: url('../../assets/images/background.jpg');
}

.bg-\[url\(\'\.\.\/assets\/logo-cropped\.svg\'\)\]{
  background-image: url('../assets/logo-cropped.svg');
}

.bg-\[url\(\'\.\.\/trainings\/assets\/images\/course\/cta\.jpg\'\)\]{
  background-image: url('../trainings/assets/images/course/cta.jpg');
}

.bg-\[url\(\'\.\.\/trainings\/swiftui-with-john-sundell\/assets\/images\/course\/cta\.jpg\'\)\]{
  background-image: url('../trainings/swiftui-with-john-sundell/assets/images/course/cta.jpg');
}

.bg-cover{
  background-size: cover;
}

.bg-bottom{
  background-position: bottom;
}

.bg-center{
  background-position: center;
}

.bg-right{
  background-position: right;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-36{
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-\[30px\]{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pr-1{
  padding-right: 0.25rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.ps-4{
  padding-inline-start: 1rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.text-center{
  text-align: center;
}

.text-start{
  text-align: start;
}

.text-end{
  text-align: end;
}

.font-ptmono{
  font-family: "PT Mono", monospace;
}

.font-robotoslab{
  font-family: "Roboto Slab", sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-\[13px\]{
  font-size: 13px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

.leading-none{
  line-height: 1;
}

.leading-normal{
  line-height: 1.5;
}

.tracking-\[0\.5px\]{
  letter-spacing: 0.5px;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(22 28 45 / var(--tw-text-opacity));
}

.text-cute-green{
  --tw-text-opacity: 1;
  color: rgb(179 218 223 / var(--tw-text-opacity));
}

.text-cute-green-darker-plus{
  --tw-text-opacity: 1;
  color: rgb(40 90 97 / var(--tw-text-opacity));
}

.text-gray-100{
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.text-gray-200{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-indigo-600{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.text-slate-400{
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.text-slate-900{
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/50{
  color: rgb(255 255 255 / 0.5);
}

.text-white\/60{
  color: rgb(255 255 255 / 0.6);
}

.text-white\/70{
  color: rgb(255 255 255 / 0.7);
}

.underline{
  text-decoration-line: underline;
}

.opacity-0{
  opacity: 0;
}

.opacity-75{
  opacity: 0.75;
}

.shadow{
  --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 5px 13px rgb(60 72 88 / 0.20);
  --tw-shadow-colored: 0 5px 13px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p{
  line-height: 1.625;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  line-height: 1.5;
}

::-moz-selection{
  background-color: rgb(40 90 97 / 0.9);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

::selection{
  background-color: rgb(40 90 97 / 0.9);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:border-cute-green-darker-plus-hover:hover{
  --tw-border-opacity: 1;
  border-color: rgb(58 132 142 / var(--tw-border-opacity));
}

.hover\:bg-cute-green-darker-plus-hover:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(58 132 142 / var(--tw-bg-opacity));
}

.hover\:bg-white\/30:hover{
  background-color: rgb(255 255 255 / 0.3);
}

.hover\:text-cute-green:hover{
  --tw-text-opacity: 1;
  color: rgb(179 218 223 / var(--tw-text-opacity));
}

.hover\:text-cute-green-darker-plus-hover:hover{
  --tw-text-opacity: 1;
  color: rgb(58 132 142 / var(--tw-text-opacity));
}

.hover\:text-gray-400:hover{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.hover\:text-indigo-600:hover{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.hover\:shadow-lg:hover{
  --tw-shadow: 0 10px 25px -3px rgb(60 72 88 / 0.15);
  --tw-shadow-colored: 0 10px 25px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:scale-110{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-cute-green-darker-plus{
  --tw-text-opacity: 1;
  color: rgb(40 90 97 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.dark\:inline-block:is(.dark *){
  display: inline-block;
}

.dark\:hidden:is(.dark *){
  display: none;
}

.dark\:border-gray-700:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.dark\:border-gray-800:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.dark\:bg-slate-800:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.dark\:bg-slate-900:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.dark\:text-gray-200:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.dark\:text-slate-900:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.dark\:text-white:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:shadow-gray-800:is(.dark *){
  --tw-shadow-color: #1f2937;
  --tw-shadow: var(--tw-shadow-colored);
}

@media (min-width: 640px){
  .sm\:-bottom-px{
    bottom: -1px;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .sm\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px){
  .md\:col-span-6{
    grid-column: span 6 / span 6;
  }

  .md\:mt-24{
    margin-top: 6rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .md\:leading-normal{
    line-height: 1.5;
  }
}

@media (min-width: 1024px){
  .lg\:col-span-3{
    grid-column: span 3 / span 3;
  }

  .lg\:col-span-5{
    grid-column: span 5 / span 5;
  }

  .lg\:col-span-7{
    grid-column: span 7 / span 7;
  }

  .lg\:w-2\/3{
    width: 66.666667%;
  }

  .lg\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:py-44{
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  .lg\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
}

.ltr\:rotate-0:where([dir="ltr"], [dir="ltr"] *){
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px){
  .ltr\:md\:text-left:where([dir="ltr"], [dir="ltr"] *){
    text-align: left;
  }
}

@media (min-width: 1024px){
  .ltr\:lg\:ml-5:where([dir="ltr"], [dir="ltr"] *){
    margin-left: 1.25rem;
  }
}

.rtl\:rotate-180:where([dir="rtl"], [dir="rtl"] *){
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px){
  .rtl\:md\:text-right:where([dir="rtl"], [dir="rtl"] *){
    text-align: right;
  }
}

@media (min-width: 1024px){
  .rtl\:lg\:mr-5:where([dir="rtl"], [dir="rtl"] *){
    margin-right: 1.25rem;
  }
}

